<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>bames web</title>
  <meta name="description" content="style web">
  <meta name="author" content="SitePoint">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">



</head>

<body>






    <div id="main">...loading</div>






<script src="/bamesweb.js" charset="utf-8"></script>
</body>
</html>
